.calendar-cell {
  background-color: #d7d7d7;
  padding: 7px 0;
}

.calendar-cell.weekday {
  background-color: green;
}

.calendar-cell.weekend {
  background-color: yellow;
}

.calendar-cell.holiday {
  background-color: orange;
}
