.calendar-section__column-guidelines {
  display: flex;
  justify-content: space-between;
}

.calendar-section__column-guidelines .day {
  border: 1px solid black;
  border-top: none;
  border-left: none;
  flex: 1;
}

.calendar-section__column-guidelines .day:last-of-type {
  border-right: none;
}

.day {
  text-align: center;
}
